# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/PROJECT_OVERVIEW.md
/src/generated/resources/.cache/
/run-data/logs/2026-07-03-1.log.gz
/run-data/logs/2026-07-05-1.log.gz
/run-data/logs/debug-3.log.gz
/run-data/logs/debug-4.log.gz
/run-data/logs/2026-07-05-2.log.gz
/run-data/logs/debug-5.log.gz
